.card {
    border-radius: 15px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.arrow-btn {
    border-radius: 50%;
    margin-top: 20px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #3e6194;
    border-color: #3e6194;
}

.bi-chevron-left,
.bi-chevron-right {
    font-size: 1.2rem;
}